* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*=__container] {
  max-width: 1172px;
  width: 100%;
  margin: 0 auto;
}

ul {
  display: flex;
  list-style: none;
}

a {
  text-decoration: none;
}

.first-screen {
  height: 100vh;
  width: 100%;
}

.first-screen-back {
  width: 100%;
  height: 41.2em;
  background-position: center;
  background-size: cover;
  background-image: url(/assets/img/Rectangle\ 2.png);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #1F2B38;
  padding-right: 24px;
}

.header > * {
  display: flex;
  align-items: center;
  transition: all 0.3s linear;
}

.header__left {
  align-items: center;
}

.header__list {
  display: flex;
}

.header__list > * {
  background-color: #1F2B38;
  color: #fff;
  transition: all 0.3s linear;
}

.list__link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  padding: 14px 24px;
}

.list__item:hover {
  background-color: #27AE60;
}

.list__item:hover .fa-chevron-up {
  transform: rotate(0deg);
  color: #fff;
}

.fa-chevron-up {
  font-size: 12px;
  transform: rotate(-180deg);
  color: #27AE60;
  margin-left: 10px;
}

.logo > * {
  display: inline-block;
  padding: 13px;
  color: #27AE60;
}

.header__right {
  color: #fff;
  font-family: Roboto, sans-serif;
  gap: 40px;
}

.header__inner__features {
  display: flex;
  gap: 35px;
}

.header__inner a {
  text-decoration: none;
  color: #fff;
  display: inline-flex;
  align-items: center;
}

.headers-ico {
  color: #27AE60;
  margin-right: 10px;
}

.features__item {
  display: inline-flex;
  align-items: center;
  transition: all 0.3s linear;
}

.features__item:hover {
  color: #27AE60;
}

.header__inner__features > * {
  display: flex;
  align-items: center;
}

.header__inner_right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__inner_right_link a:hover {
  color: #27AE60;
  transition: all 0.3s linear;
}

.header__inner_right_link {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.header__inner_right a {
  display: inline-block;
  color: #fff;
}

.header__inner_right span {
  opacity: 0.4;
}

.sub__header {
  font-family: Roboto, sans-serif;
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.sub__header__left {
  display: flex;
  align-items: center;
}

.sub__header__left > * {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 10px;
}

.sub__header__inner,
.sub__header__email {
  border-right: 2px solid rgba(133, 127, 127, 0.3);
  padding-right: 25px;
}

.sub__heeder__inner_right {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
}

.sub__header__left h3 {
  font-size: 20px;
}

.sub__header__text p {
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 0.4;
  text-transform: uppercase;
}

.sub__header__right > * {
  display: flex;
  align-items: center;
}

.sub__header__right {
  display: flex;
  gap: 32px;
}

.sub__header__tel {
  gap: 15px;
  color: #fff;
}

.sub__header__tel p:last-child {
  font-size: 14px;
  line-height: 20px;
  opacity: 0.5;
}

.sub__header__inner__right_contact {
  line-height: 20px;
}

.sub__header_btn {
  width: 7em;
  padding: 10px 15px;
  background-color: #27AE60;
  border: none;
  cursor: pointer;
  line-height: 13px;
}

.default-btn {
  border-radius: 6px;
  font-weight: 700;
  color: #fff;
}

.sub__header__email {
  display: flex;
  gap: 15px;
  color: #fff;
}
.sub__header__email p {
  opacity: 0.5;
}
.sub__header__email a {
  color: #fff;
}

.sub__header__purchase {
  gap: 20px;
  color: #fff;
}

.sub__header__inner__right_purchase p:first-child {
  opacity: 0.5;
}

.fa-bag-shopping {
  color: #27AE60;
  font-size: 32px;
}

.banner-screen {
  width: 66%;
  margin: 5em auto;
  background-color: #1F2B38;
  font-family: Roboto Condensed, sans-serif;
}
.banner-screen_navigation {
  display: flex;
  justify-content: space-between;
}
.banner-screen__inner_navigation {
  width: 100%;
  position: relative;
}
.banner-screen__list {
  display: flex;
  position: relative;
}
.banner-screen__list > * {
  border-right: 1px solid rgba(207, 193, 193, 0.2);
}
.banner-screen__link {
  display: inline-flex;
  align-items: center;
  padding: 18px 32px;
  transition: all 0.3s linear;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  position: relative;
}
.banner-screen__link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 5px;
  transition: all 0.3s linear;
}
.banner-screen__link:hover::before {
  background-color: #BB8E34;
  transition: all 0.3s linear;
}
.banner-screen__link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  height: 5px;
  transition: all 0.3s linear;
}
.banner-screen__inner_navigation {
  display: flex;
}

.banner-screen__link:hover::before {
  transition: all 0.3s linear;
}

.banner-screen__link:hover .fa-chevron-down {
  color: #27AE60;
  transform: rotate(0deg);
  transition: all 0.3s linear;
}

.fa-chevron-down {
  margin-left: 15px;
  font-size: 10px;
  transform: rotate(-180deg);
}

.banner__form::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 5px;
  transition: all 0.3s linear;
  background-color: rgba(207, 193, 193, 0.2);
}

.banner__form {
  display: flex;
  flex: 1 1 auto;
  padding: 8px 12px;
}

.banner-search {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 6px;
  padding: 0 12px;
  border: 1px solid rgba(133, 127, 127, 0.3);
}
.banner-search input {
  width: 100%;
  padding: 8px 0px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
}

.glass-search {
  background: transparent;
  border: none;
  cursor: pointer;
}

.fa-magnifying-glass {
  color: #27AE60;
}

.banner-description {
  display: flex;
  background-color: #27AE60;
  position: relative;
  justify-content: space-between;
  filter: drop-shadow(0px 4px 4px rgba(65, 175, 25, 0.25));
}

.banner__text {
  position: absolute;
  bottom: 3%;
  left: 2%;
  max-width: 50%;
  font-size: 12px;
}

.banner-right {
  flex: 1 1 auto;
  position: relative;
}

.banner-right::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -96%;
  z-index: 1;
  background: #27AE60;
  background: linear-gradient(to right, rgba(39, 174, 96, 0) 70.43%, #27ae60 95.6%);
}

.banner-varanity_cantainer {
  max-width: 34.5%;
  padding: 20px;
  margin-right: 4em;
  position: absolute;
  right: 3%;
  align-self: center;
  z-index: 10;
}

.banner-image {
  align-self: stretch;
  background: linear-gradient(180deg, rgba(39, 174, 96, 0) 73.43%, #27ae60 94.6%);
}
.banner-image img {
  height: 100%;
}

.banner-varanity {
  background-color: #236c4c;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #fff;
}
.banner-varanity h4 {
  font-size: 30px;
  text-transform: uppercase;
}
.banner-varanity p {
  line-height: 20px;
}
.banner-varanity a {
  display: inline-block;
  padding: 14px 24px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-transform: uppercase;
  color: #fff;
  border-radius: 6px;
  background-color: #BB8E34;
  cursor: pointer;
}

.banner-varanity p:first-child {
  color: #f7f896;
  font-size: 16px;
  text-transform: uppercase;
}

.banner__bottom {
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.banner-item__bottom {
  display: flex;
  align-items: cnter;
  padding: 24px;
  gap: 15px;
}

.banner-item__left {
  position: relative;
}
.banner-item__left img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.banner-item__left::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 130%;
  top: -15%;
  margin-left: 7px;
  background-color: rgba(133, 127, 127, 0.2);
}

.banner-item__right {
  vertical-align: baseline;
  text-transform: uppercase;
  color: #fff;
}/*# sourceMappingURL=index.css.map */