@import "_main.scss";

.first-screen {
  height: 100vh;
  width: 100%;
  font-family: Roboto Condensed, sans-serif;
}

.first-screen-back {
  width: 100%;
  height: 44.2em;
  background-position: center;
  background-size: cover;
  background-image: url(/assets/img/Rectangle\ 2.png);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto Condensed", sans-serif;
  background-color: $Dark-color;
  padding-right: 24px;
  position: relative;
  left: 0;
}

.header > * {
  display: flex;
  align-items: center;
  transition: all 0.3s linear;
}

.header__left {
  align-items: center;
}

.header__list {
  display: flex;
}

.header__list > * {
  background-color: $Dark-color;
  color: #fff;
  transition: all 0.3s linear;
}

.list__link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  padding: 14px 24px;
}

.list__item:hover {
  background-color: $Green;
}

.list__item:hover .fa-chevron-up {
  transform: rotate(0deg);
  color: #fff;
}

.fa-chevron-up {
  font-size: 12px;
  transform: rotate(-180deg);
  color: $Green;
  margin-left: 10px;
}

.logo > * {
  display: inline-block;
  padding: 13px;
  color: $Green;
}

.header__right {
  color: #fff;
  font-family: Roboto, sans-serif;
  gap: 40px;
}

.header__inner__features {
  display: flex;
  gap: 35px;
}

.header__inner a {
  text-decoration: none;
  color: #fff;
  display: inline-flex;
  align-items: center;
}

.headers-ico {
  color: $Green;
  margin-right: 10px;
}

.features__item {
  display: inline-flex;
  align-items: center;
  transition: all 0.3s linear;
}

.features__item:hover {
  color: $Green;
}

.header__inner__features > * {
  display: flex;
  align-items: center;
}

.header__inner_right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__inner_right_link a:hover {
  color: $Green;
  transition: all 0.3s linear;
}

.header__inner_right_link {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.header__inner_right a {
  display: inline-block;
  color: #fff;
}

.header__inner_right span {
  opacity: 0.4;
}

.sub__header {
  font-family: Roboto, sans-serif;
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.sub__header__left {
  display: flex;
  align-items: center;
}

.sub__header__left > * {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 10px;
}

.sub__header__inner,
.sub__header__email {
  border-right: 2px solid rgba(133, 127, 127, 0.3);
  padding-right: 25px;
}

.sub__heeder__inner_right {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
}

.sub__header__left {
  h3 {
    font-size: 20px;
  }
}

.sub__header__text {
  p {
    font-size: 12px;
    letter-spacing: 1px;
    opacity: 0.4;
    text-transform: uppercase;
  }
}

.sub__header__right > * {
  display: flex;
  align-items: center;
}

.sub__header__right {
  display: flex;
  gap: 32px;
}

.sub__header__tel {
  gap: 15px;
  color: #fff;
}

.sub__header__tel p:last-child {
  font-size: 14px;
  line-height: 20px;
  opacity: 0.5;
}

.sub__header__inner__right_contact {
  line-height: 20px;
}

.sub__header_btn {
  width: 7em;
  padding: 10px 15px;
  background-color: $Green;
  border: none;
  cursor: pointer;
  line-height: 13px;
}

.default-btn {
  border-radius: 6px;
  font-weight: 700;
  color: #fff;
}

.sub__header__email {
  display: flex;
  gap: 15px;
  color: #fff;

  p {
    opacity: 0.5;
  }

  a {
    color: #fff;
  }
}

.sub__header__purchase {
  gap: 20px;
  color: #fff;
}

.sub__header__inner__right_purchase p:first-child {
  opacity: 0.5;
}

.fa-bag-shopping {
  color: $Green;
  font-size: 32px;
}

.banner-screen {
  width: 1152px;
  margin: 5em auto 0em;
  background-color: $Dark-color;
  font-family: Roboto Condensed, sans-serif;

  // background-color: blue;
  &_navigation {
    display: flex;
    justify-content: space-between;
  }

  &__inner_navigation {
    width: 100%;
    position: relative;
  }

  &__list {
    display: flex;
    // align-items: center;
    position: relative;
  }

  &__list > * {
    border-right: 1px solid rgba(207, 193, 193, 0.2);
  }

  &__link {
    display: inline-flex;
    align-items: center;
    padding: 18px 32px;
    transition: all 0.3s linear;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    position: relative;
  }

  &__link::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 5px;
    transition: all 0.3s linear;
  }

  &__link:hover::before {
    background-color: $Gold-dark;
    transition: all 0.3s linear;
  }

  &__link::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    height: 5px;
    transition: all 0.3s linear;
  }

  &__inner_navigation {
    display: flex;
  }
}

.banner-screen__link:hover::before {
  transition: all 0.3s linear;
}

.banner-screen__link:hover {
  .fa-chevron-down {
    color: $Green;
    transform: rotate(0deg);
    transition: all 0.3s linear;
  }
}

.fa-chevron-down {
  margin-left: 15px;
  font-size: 10px;
  transform: rotate(-180deg);
}

.banner__form::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 5px;
  transition: all 0.3s linear;
  background-color: rgba(207, 193, 193, 0.2);
}

.banner__form {
  display: flex;
  flex: 1 1 auto;
  padding: 8px 12px;
  // background-color: red;
}

.banner-search {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 6px;
  padding: 0 12px;
  border: 1px solid rgba(133, 127, 127, 0.3);

  // background:red;
  input {
    width: 100%;
    padding: 8px 0px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
  }
}

.glass-search {
  background: transparent;
  border: none;
  cursor: pointer;
}

.fa-magnifying-glass {
  color: $Green;
}

.banner-description {
  display: flex;
  background-color: $Green;
  position: relative;
  justify-content: space-between;

  filter: drop-shadow(0px 4px 4px rgba(65, 175, 25, 0.25));
}

.banner__text {
  position: absolute;
  bottom: 3%;
  left: 2%;
  max-width: 50%;
  font-size: 12px;
}

.banner-right {
  flex: 1 0 auto;
  // background:red;
  position: relative;
}

.banner-right::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  // background:blue;
  position: absolute;
  left: -96%;
  z-index: 1;
  background: $Green;
  background: linear-gradient(
    to right,
    rgba(39, 174, 96, 0) 70.43%,
    #27ae60 95.6%
  );
}

.banner-varanity_cantainer {
  width: 402px;
  position: absolute;
  right: 3%;
  align-self: center;
  z-index: 10;
}

.banner-image {
  flex-basis: auto;

  background: linear-gradient(
    180deg,
    rgba(39, 174, 96, 0) 73.43%,
    #27ae60 94.6%
  );

  img {
    height: 100%;
  }
}

.banner-varanity {
  background-color: #236c4c;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #fff;

  h4 {
    font-size: 30px;
    text-transform: uppercase;
  }

  p {
    line-height: 20px;
  }

  a {
    display: inline-block;
    padding: 14px 24px;
    width: max-content;
    text-transform: uppercase;
    color: #fff;
    border-radius: 6px;
    background-color: $Gold-dark;
    cursor: pointer;
  }
}

.banner-varanity p:first-child {
  color: #f7f896;
  font-size: 16px;
  text-transform: uppercase;
}

.banner__bottom {
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.banner-item__bottom {
  display: flex;
  align-items: cnter;
  padding: 24px;
  gap: 15px;
  border-left: 1px solid #000;
}
.banner__bottom .banner-item__bottom:last-child {
  border-right: 1px solid #000;
}
.banner-item__left {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  position: relative;
}

.banner-item__left::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 130%;
  top: -15%;
  margin-left: 7px;
  background-color: rgba(133, 127, 127, 0.2);
}

.banner-item__right {
  vertical-align: baseline;
  text-transform: uppercase;
  color: #fff;
}

.screen_cost {
  width: 100%;
  &-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 20px;
    padding: 30px 0;
  }
  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-bottom &-item:last-child {
    border-right: none;
  }
  &-item {
    flex: 1 1 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    text-align: center;
    border-right: 2px solid rgba(133, 127, 127, 0.1);
    border-bottom: 4px solid rgba(133, 127, 127, 0.1);
    img {
      justify-self: center;
      margin: 10px 0;
    }
  }
}
.green-text {
  color: $Green;
}
.second-screen {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/img/cozy-house.png);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  overflow: hidden;
  &-back {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        269.52deg,
        #253342 -7.98%,
        rgba(37, 51, 66, 0) 35.54%
      ),
      linear-gradient(90deg, #253342 -11.32%, rgba(37, 51, 66, 0) 30.49%),
      radial-gradient(
        101.43% 80.16% at 50% 43.71%,
        rgba(37, 51, 66, 0) 0%,
        #253342 73.88%
      );
    z-index: -1;
  }
  &_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items:flex-start;
    padding: 150px 30px 0 30px;
  }
  &__wrapper {
    width: 100%;
    height: 75%;
    background: url(/assets/img/back-dotted.png) no-repeat center;
  }
}
.second-screen_top__wrapper {
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  padding: 40px 0;
  text-transform: uppercase;
}
.second-screen-item {
  max-width: 25%;
  height: 60.5%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  &_title {
    color: $Gold-light;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
  }
  &_container {
    margin-top: 50px;
    width:70%;
    height: 70%;
    min-width: 174px;
    background: rgba(34, 47, 60, 0.75);
    border-radius: 0px 16px 16px 16px;
    padding: 25px 10px 25px 25px;
  
  }
  &_inner {
    min-height: 180px;
    border-bottom: 2px solid rgba(133, 127, 127, 0.2);
    color: #fff;
    font-size: 14px;
  }
}
.block-number {
  width: 54px;
  height: 54px;
  border-radius: 16px 16px 0px 16px;
  border:2px solid $Gold-dark;
  text-align: center;
  color:#fff;
  font-size: 27px;
  display: flex;
  align-items:center;
  justify-content: center;
  background-color:$Dark-color;
}
.star-long{
  position: absolute;
  top:-6.5%;
  left: 25%;

}
// .second-screen-::before {
//   content: url(/assets/img/long-star.png);
//   display: inline-block;
//   position: absolute;
//   left: -10%;
//   top: -5.5%;
// }
